**/__pycache__
data/*
saved_models
raw_data.zip
.vscode
*.out

# raw_data/chinese/*

raw_data/EWebNLG/data/webnlg/raw/*

# **/test.json
# **/valid.json
# **/train.json


# **/*_data.json

# raw_data/saoke/SAOKE_DATA.json
# new_*
**.json
**.jsonl
**.zip
**/all_50_schemas
!experiments/*
!raw_data/*/example.json
!raw_data/redocred/rel_info.json
!raw_data/redocred/sample_old.json
